
/* 
  tooltip: https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_bottom
*/
.tooltip {
  position: absolute;
  background: rgba(0,0,0,0.3);
  padding: 2px 6px;
  border-radius: 100%;
  font-size: 12px;
  top: 1px;
  left: 2px;
  display: inline-block;
  z-index: 1;
}


#english {
  font-size: 15px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: lightblue;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  z-index: 1;
  top: -1px;
  margin-left: -14px;
  font-size: 13px;
  color: black;

}
.tooltip .tooltiptext div {
  margin-bottom: 5px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.red {
  color:red;
  font-weight: bold;
}
#draw {
 /* position: absolute;*/
}
input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(to right, green 0%, green 50%, #fff 50%, #fff 100%);
  border: solid 1px #00b300;
  border-radius: 8px;
  height: 7px;
  outline: none; 
  padding: 0px;
  transition: background 450ms ease-in;
}
body{
  margin: 0;
  min-width: 1400px;
}

input {
  border-radius: 2px;
  border-width: 1px;
  padding: 1px;
}
input[type="text"], input[type="number"] {
  padding-left: 2px;
  font-size: 13px;
  border-radius: 2px;
  height: 17px;
  border: 1px solid grey;
}
button {
  font-size: 13.3px;
  padding: 1px 6px 1px 6px;
  margin: 0px;
  text-align: center;
  height: 21px;
}

.animation_hyperlinks {
  margin-top: -10px;
}

.animation_hyperlinks li {
  margin-left: -5px;
  margin-top: 3px;
}

.animation_hyperlinks li a {
  margin-left: 5px;
  text-decoration: none; 
  color: blue;
}
.animation_hyperlinks li a:hover {
  color: red;
  /*font-size: 17px;*/
}

#go_back, #go_forward {
  width: 98px;
}

.script-table {
  width:  97%;
  border-spacing: 0px;  
  border: none; 
  padding: 0px; 
  margin-top: 8px;
  margin-bottom: 8px;
}

.script-table-td1 {
  width: 50px;
  text-align: center;
}

.script-table-td2 {
  border: 1px solid rgb(1,1,1,0.5); 
  padding: 5px 5px 5px 15px;
}

.elaboration-table {
  border-collapse: collapse; 
  margin-top: 5px;
}

#elaboration_text {
  position: relative;
  color: red;
}

.main-elaboration {
  height: 20px;
  display: inline-block;
}

.elaboration-table td {
    
  text-align: center;
  padding: 5px 7px 5px 7px;
     /* background-color: pink;*/
}


.bottom-nav {
  position: fixed;
  bottom: 0;
  background-color: #d5e7c2;
  padding: 10px;
  width: 100%;
}

.line {
  margin-top: 12px;
}

.animation-control {
 
  display:flex;
  flex-direction:row;
  align-items:center;
}

.elaboration {
  margin: 10px 0px 5px 0px;
}

.header { 
  
  grid-area: header; 
  background-color: lightblue;
  font-size: 30px;
  padding: 5px 5px 5px 10px;
  font-weight: bold;
}

.control {
  grid-area: control;
  background-color: #d5e7c2;
  padding: 10px 5px 5px 10px;
}

.canvas {
  position: relative;
  grid-area: canvas;
  background-color: white;
}

.grid-container {
	display: grid;
  grid-template-areas: 
    'header'
    'control'
    'canvas'
}


